<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" type ="text/css" href = "login.css">
</head>
<body>
<center>
<h1>Restaurant Management System</h1>
  <form action="login" method="POST">
  
    <div class="container">
     <p> <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required></p>
  
    <p>  <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required></p>
  
     <p> <button type="submit">Login</button>
      <a href=""><button type="submit">signup</button></a></p>
      <label>
        <input type="checkbox" checked="unchecked" name="remember"> Remember me
      </label>
      <h2>error message</h2>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
  </center>
</body>
</html>