<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Css_File/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style type="text/css">
        .container {
            border: 1px solid black;
            width: 350px;
            height: 350px;
        }

        .container_item {
            margin-botton: 212px;
            margin-top: -52px;
        }

        img {
            height: 65px;
            width: 100px;
        }
    </style>
    <title>E_Restaturant</title>
</head>

<body>
    <form action="/file" method="POST" enctype="multipart/form-data">
        <div class="container">
            <div class="container_item">
                <table>
                    <tr>
                        <td> Category Name</td>
                        <td> <input type="text" name="pc_name"></td>
                    </tr>
                    </br>
                    <tr>
                        <td> Item Name</td>
                        <td> <input type="text" name="item_name"></td>
                    </tr>

                    <br>
                    <tr>
                        <td>Item Price</td>
                        <td> <input type="text" name="item_price"></td>
                    </tr>
                    <br>
                    <tr>
                        <td> Item Image</td>
                        <td> <input type = file name = "file"></td>
                    </tr>
                    <br>
                    <tr>
                        <td><input type="submit" value="Save" /></td>
                        </td>
                    </tr>
                </table>
    </form>
    </div>
    </div>
</body>

</html>